theme: jekyll-theme-minimal
title: intjonathan
description: A Homepage
repository: intjonathan/vanity-site

plugins:
  - jekyll-feed
  - jekyll-seo-tag

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

exclude:
  - CLAUDE.md
  - vendor
