theme: jekyll-theme-minimal
title: intjonathan
tagline: Home
description: '<a href="https://www.linkedin.com/in/intjonathan/">Linkedin</a><br/><a href="https://github.com/intjonathan">Github</a><br/><a href="https://bsky.app/profile/intjonathan.com">Bluesky</a><br/><a href="https://www.reddit.com/user/intjonathan/">Reddit</a><br/><a rel="me" href="https://mas.to/@intjonathan">Mastodon</a><br/><a href="https://www.instagram.com/intjonathan/">Instagram</a><br/>'
repository: intjonathan/vanity-site

collections:
  resources:
    output: true

plugins:
  - jekyll-feed
  - jekyll-seo-tag

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "resources"
    values:
      layout: "resource"

exclude:
  - CLAUDE.md
  - vendor
  - talk-summaries
  - serve.sh
  - mise.toml