---
---

@import "jekyll-theme-minimal";

.wrapper {
  max-width: 1200px;
  width: 90%;
}

section {
  width: calc(100% - 330px);
}

iframe {
  width: 100%;
  height: 80vh;
  border: 1px solid #e5e5e5;
}

@media print, screen and (max-width: 960px) {
  section {
    width: auto;
  }
}
