---
---

@import "jekyll-theme-minimal";

.wrapper {
  max-width: 1200px;
  width: 90%;
}

section {
  width: calc(100% - 330px);
}

@media print, screen and (max-width: 960px) {
  section {
    width: auto;
  }
}
